<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhong.dao.ProductMapper">
    <resultMap id="productResltMap" type="ProductEntity">
        <id property="id" column="id"/>
        <result property="name" column="name" />
        <result property="subtitle" column="subtitle" />
        <result property="mainImage" column="main_image" />
        <result property="subImages" column="sub_images" />
        <result property="detail" column="detail" />
        <result property="price" column="price/" />
        <result property="stock" column="stock" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <association property="categoryId" column="category_id" javaType="com.zhong.entity.Category" select ="com.zhong.dao.CategoryMapper.getCategoryById">
        </association>


    </resultMap>

    <!--<sql id="all">-->
        <!--id,username,password,email,phone-->
    <!--</sql>-->

    <select id="selectProductById" resultType="ProductEntity">
    SELECT * from  mmall_product where id=#{id};
  </select>


    <select id="getProductList" resultMap="productResltMap">
    SELECT
        p.id,
        p.category_id,
        p.name,
        p.subtitle,
        p.main_image,
        p.sub_images,
        p.detail,
        p.price,
        p.stock,
        p.status,
        p.create_time,
        p.update_time,
        c.id,
        c.parent_id,
        c.name,
        c.status,
        c.sort_order,
        c.create_time,
        c.update_time
        FROM
        `mmall_product` p
        LEFT JOIN `mmall_category` c ON p.category_id = c.id
  </select>

    <insert id="insertProduct" parameterType="ProductEntity">
        insert into mmall_product(id,category_id,name,subtitle,main_image,sub_images,detail,price,stock,status,create_time,update_time)
        value (#{id},#{categoryId.id},#{name},#{subtitle},#{mainImage},#{subImages},#{detail},#{price},#{stock},#{status},#{createTime},#{updateTime})
    </insert>


    <!--<select id="getProductListByCategoryId" parameterType="productResltMap" >-->
        <!--SELECT-->
        <!--p.id,-->
        <!--p.category_id,-->
        <!--p.name,-->
        <!--p.subtitle,-->
        <!--p.main_image,-->
        <!--p.sub_images,-->
        <!--p.detail,-->
        <!--p.price,-->
        <!--p.stock,-->
        <!--p.status,-->
        <!--p.create_time,-->
        <!--p.update_time,-->
        <!--c.id-->
        <!--c.parent_id,-->
        <!--c.name,-->
        <!--c.status,-->
        <!--c.sort_order,-->
        <!--c.create_time,-->
        <!--c.update_time-->
        <!--FROM-->
        <!--`mmall_product` p-->
        <!--LEFT JOIN `mmall_category` c ON p.category_id = c.id-->
        <!--where p.category_id = #{categoryId.id}-->
    <!--</select>-->

</mapper>